<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <title>QC-WEB</title>
       <!--<link href="/status/css/style.css" rel="stylesheet" type="text/css" />-->
       <script src="static/js/myScript.js"></script>   
  </head> 

    </section>
<body class="content" onload="run();">
	<table border="1" cellpadding="5" style="" align="center" bgcolor="#0080FF" width="450" height="300">
	<h1>
	<!--<tr><td colspan="5" >Nutsboard <a target="new" href="/serial_id">Serial ID</a></td></tr>-->
	<tr><td colspan="5" >Nutsboard <a target="new" href="/serial_id"><div id="myDIV"></div></a></td></tr>
	<tr>
	<td rowspan="7" id="demo"></td>
	<td rowspan="7" id="demo1"></td>
	<td colspan="2" id="democpu"></td>
	<td colspan="2" id="demotemp"></td>
	</tr>
	<tr>
	<td  colspan=2 id="demolanPort1"  align='center'><font color="white">1</font></td>
	<td  colspan=2 id="demolanPort2"  align='center'><font color="white">2</font></td>
	</tr>
    	<tr>                                             
    	<td  colspan=2 id="demolanPort3"  align='center'><font color="white">3</font></td>
	<td  colspan=2 id="demolanPort4"  align='center'><font color="white">4</font></td>
    	</tr>
	</h1>	
	</table>
	<table border="1" cellpadding="5" style="" align="center" bgcolor="#0080FF" width="450" height="300">
	<tr>
        <td  id="demoeth0"></td>
        </tr>
        <tr>
        <td  id="demoeth1"></td>
        </tr>
        <tr>
        <td id="demowlan0"></td>
        </tr>
        <tr>
        <td  id="demobt"></td>
        </tr>
        </table>
<script type="text/javascript">
 
function run() 
	{  
		{% set count = 0 %}
		{% for row in test_items %}
		var row="{{row}}";
		var state_items="{{state_items[count]}}";
		var demo = document.getElementById("demo");
		var demo1 = document.getElementById("demo1");
	    	var td = document.createElement("td");
		var td1 = document.createElement("td");
		var tr = document.createElement("tr");
		var tr1 = document.createElement("tr");
		var image_fail = document.createElement("img");
		var image_pass = document.createElement("img");
		var i_fail = "Failed";
		var i_pass = "Pass";
		//fail image
		image_fail.setAttribute("src", "static/drawing/red.png");
		image_fail.setAttribute("height", "17");
		image_fail.setAttribute("width", "17");
		//pass image
		image_pass.setAttribute("src", "static/drawing/green.png");
		image_pass.setAttribute("height", "17");
		image_pass.setAttribute("width", "17");
	
		if (state_items == i_fail)	
			{
			
				td.innerHTML = row;
				tr.appendChild(td);
				demo.appendChild(tr);
				//image
				tr1.appendChild(image_fail);
				demo1.appendChild(tr1);

			}
		else if ( state_items == i_pass)
			{
			
				td.innerHTML = row;
				tr.appendChild(td);
				demo.appendChild(tr);
				//image
				tr1.appendChild(image_pass);
				demo1.appendChild(tr1);

			}
		
	    	{% set count = count + 1 %}
	    	{% endfor %}
		run_cpu();
		run_temperature();
		lan1_ping();
		lan2_ping();
		lan3_ping();
		lan4_ping();
		eth0_mac();
		eth1_mac();
		wlan0_mac();
		bt_mac();
                link_id_page();
	

    	}
function link_id_page() {
                   var para = document.createElement("P");
                   var all_pass_link = "{{all_pass_link_id[0]}}";
                   var check_pass="all_pass";
                   var i_lan_Port_fail = "Failed";
                   var i_lan_Port_pass = "Pass";
		   var i_lan_Port_No_testde = "not_tested";
                   var lan1port_items="{{lan1_items[0]}}";
                   var lan2port_items="{{lan2_items[0]}}";
                   var lan3port_items="{{lan3_items[0]}}";
                   var lan4port_items="{{lan4_items[0]}}";
                     if (all_pass_link == check_pass)
			{
			        if(((lan1port_items == i_lan_Port_pass)&&(lan2port_items == i_lan_Port_pass)&&(lan3port_items == i_lan_Port_pass)&&(lan4port_items == i_lan_Port_pass)))
                                {
				     var t = document.createTextNode("Serial ID");
                                     para.appendChild(t);
                                     document.getElementById("myDIV").appendChild(para);
                                }
                                else
                                {
                                     var t = document.createTextNode("");
                                     para.appendChild(t);
                                     document.getElementById("myDIV").appendChild(para);
                                }
			}
                     else{
                                var t = document.createTextNode("");
                                para.appendChild(t);
                                document.getElementById("myDIV").appendChild(para);
                         }
}
function run_cpu() 
	{
		var cpu_items="{{cpu_items[0]}}";
		var democpu = document.getElementById("democpu");
		var td2 = document.createElement("td");
		var tr2 = document.createElement("tr");
		td2.innerHTML = "CPU rate: "+cpu_items;
		tr2.appendChild(td2);
		democpu.appendChild(tr2);
	}

function run_temperature() 
	{
		var cpu_temp="{{cpu_temp[0]}}";
		var demotemp = document.getElementById("demotemp");
		var td3 = document.createElement("td");
		var tr3 = document.createElement("tr");
		td3.innerHTML = "temperature: "+cpu_temp +"&#8451;";
		tr3.appendChild(td3);
		demotemp.appendChild(tr3);
	}

function lan1_ping()
	{//lan1_items
		
		var lan_Port_image_fail = document.createElement("img");
		var lan_Port_image_pass = document.createElement("img");
		var lan_Port_image_No_tested = document.createElement("img");		
		//fail image
		lan_Port_image_fail.setAttribute("src", "static/drawing/LAN_Port_Fail.gif");
		lan_Port_image_fail.setAttribute("height", "35");
		lan_Port_image_fail.setAttribute("width", "35");
		//pass image
		lan_Port_image_pass.setAttribute("src", "static/drawing/LAN_Port_Pass.gif");
		lan_Port_image_pass.setAttribute("height", "35");
		lan_Port_image_pass.setAttribute("width", "35");
		//No_tested image
		lan_Port_image_No_tested.setAttribute("src", "static/drawing/LAN_No_tested.gif");
		lan_Port_image_No_tested.setAttribute("height", "35");
		lan_Port_image_No_tested.setAttribute("width", "35");
		var i_lan_Port_fail = "Failed";
		var i_lan_Port_pass = "Pass";
		var i_lan_Port_No_testde = "not_tested";

		var lan1port_items="{{lan1_items[0]}}";
		var demolanPort1 = document.getElementById("demolanPort1");
		var td1_lanPort1 = document.createElement("td");
		var tr1_lanPort1 = document.createElement("tr");
		if (i_lan_Port_pass == lan1port_items )
		{
			tr1_lanPort1.appendChild(lan_Port_image_pass);
			demolanPort1.appendChild(tr1_lanPort1);
		}
		else if (i_lan_Port_fail == lan1port_items)
		{
			tr1_lanPort1.appendChild(lan_Port_image_fail);
			demolanPort1.appendChild(tr1_lanPort1);	
		
		}
		else
		{
			tr1_lanPort1.appendChild(lan_Port_image_No_tested);
			demolanPort1.appendChild(tr1_lanPort1);
		}
	}

function lan2_ping()
	{//lan2_items
		var lan_Port_image_fail = document.createElement("img");
		var lan_Port_image_pass = document.createElement("img");
		var lan_Port_image_No_tested = document.createElement("img");		
		//fail image
		lan_Port_image_fail.setAttribute("src", "static/drawing/LAN_Port_Fail.gif");
		lan_Port_image_fail.setAttribute("height", "35");
		lan_Port_image_fail.setAttribute("width", "35");
		//pass image
		lan_Port_image_pass.setAttribute("src", "static/drawing/LAN_Port_Pass.gif");
		lan_Port_image_pass.setAttribute("height", "35");
		lan_Port_image_pass.setAttribute("width", "35");
		//No_tested image
		lan_Port_image_No_tested.setAttribute("src", "static/drawing/LAN_No_tested.gif");
		lan_Port_image_No_tested.setAttribute("height", "35");
		lan_Port_image_No_tested.setAttribute("width", "35");
		var i_lan_Port_fail = "Failed";
		var i_lan_Port_pass = "Pass";
		var i_lan_Port_No_testde = "not_tested";
		

		var lan2port_items="{{lan2_items[0]}}";
		var demolanPort2 = document.getElementById("demolanPort2");
		var td2_lanPort2 = document.createElement("td");
		var tr2_lanPort2 = document.createElement("tr");
		//alert(lan2port_items);
		if (i_lan_Port_pass == lan2port_items )
		{
			tr2_lanPort2.appendChild(lan_Port_image_pass);
			demolanPort2.appendChild(tr2_lanPort2);
		}
		else if (i_lan_Port_fail == lan2port_items)
		{
			tr2_lanPort2.appendChild(lan_Port_image_fail);
			demolanPort2.appendChild(tr2_lanPort2);	
		
		}
		else
		{
			tr2_lanPort2.appendChild(lan_Port_image_No_tested);
			demolanPort2.appendChild(tr2_lanPort2);
		}
	}

function lan3_ping()
	{//lan3_items
		var lan_Port_image_fail = document.createElement("img");
		var lan_Port_image_pass = document.createElement("img");
		var lan_Port_image_No_tested = document.createElement("img");		
		//fail image
		lan_Port_image_fail.setAttribute("src", "static/drawing/LAN_Port_Fail_2.gif");
		lan_Port_image_fail.setAttribute("height", "35");
		lan_Port_image_fail.setAttribute("width", "35");
		//pass image
		lan_Port_image_pass.setAttribute("src", "static/drawing/LAN_Port_Pass_2.gif");
		lan_Port_image_pass.setAttribute("height", "35");
		lan_Port_image_pass.setAttribute("width", "35");
		//No_tested image
		lan_Port_image_No_tested.setAttribute("src", "static/drawing/LAN_No_tested_2.gif");
		lan_Port_image_No_tested.setAttribute("height", "35");
		lan_Port_image_No_tested.setAttribute("width", "35");
		var i_lan_Port_fail = "Failed";
		var i_lan_Port_pass = "Pass";
		var i_lan_Port_No_testde = "not_tested";
		

		var lan3port_items="{{lan3_items[0]}}";
		var demolanPort3 = document.getElementById("demolanPort3");
		var td3_lanPort3 = document.createElement("td");
		var tr3_lanPort3 = document.createElement("tr");
		if (i_lan_Port_pass == lan3port_items )
		{
			tr3_lanPort3.appendChild(lan_Port_image_pass);
			demolanPort3.appendChild(tr3_lanPort3);
		}
		else if (i_lan_Port_fail == lan3port_items)
		{
			tr3_lanPort3.appendChild(lan_Port_image_fail);
			demolanPort3.appendChild(tr3_lanPort3);	
		
		}
		else
		{
			tr3_lanPort3.appendChild(lan_Port_image_No_tested);
			demolanPort3.appendChild(tr3_lanPort3);
		}
	}

function lan4_ping()
	{//lan4_items
		var lan_Port_image_fail = document.createElement("img");
		var lan_Port_image_pass = document.createElement("img");
		var lan_Port_image_No_tested = document.createElement("img");		
		//fail image
		lan_Port_image_fail.setAttribute("src", "static/drawing/LAN_Port_Fail_2.gif");
		lan_Port_image_fail.setAttribute("height", "35");
		lan_Port_image_fail.setAttribute("width", "35");
		//pass image
		lan_Port_image_pass.setAttribute("src", "static/drawing/LAN_Port_Pass_2.gif");
		lan_Port_image_pass.setAttribute("height", "35");
		lan_Port_image_pass.setAttribute("width", "35");
		//No_tested image
		lan_Port_image_No_tested.setAttribute("src", "static/drawing/LAN_No_tested_2.gif");
		lan_Port_image_No_tested.setAttribute("height", "35");
		lan_Port_image_No_tested.setAttribute("width", "35");
		var i_lan_Port_fail = "Failed";
		var i_lan_Port_pass = "Pass";
		var i_lan_Port_No_testde = "not_tested";
		

		var lan4port_items="{{lan4_items[0]}}";
		var demolanPort4 = document.getElementById("demolanPort4");
		var td4_lanPort4 = document.createElement("td");
		var tr4_lanPort4 = document.createElement("tr");
		if (i_lan_Port_pass == lan4port_items )
		{
			tr4_lanPort4.appendChild(lan_Port_image_pass);
			demolanPort4.appendChild(tr4_lanPort4);
		}
		else if (i_lan_Port_fail == lan4port_items)
		{
			tr4_lanPort4.appendChild(lan_Port_image_fail);
			demolanPort4.appendChild(tr4_lanPort4);	
		
		}
		else
		{
			tr4_lanPort4.appendChild(lan_Port_image_No_tested);
			demolanPort4.appendChild(tr4_lanPort4);
		}
	}
function eth0_mac()
	{
               var eth0_mac="{{mac_eth0_items[0]}}";
		var demoeth0 = document.getElementById("demoeth0");
		var tdeth0 = document.createElement("td");
		var treth0 = document.createElement("tr");
		tdeth0.innerHTML = "MAC 1:  "+eth0_mac;
		treth0.appendChild(tdeth0);
		demoeth0.appendChild(treth0);
	}
function eth1_mac()
	{
                var eth1_mac="{{mac_eth1_items[0]}}";
		var demoeth1 = document.getElementById("demoeth1");
		var tdeth1 = document.createElement("td");
		var treth1 = document.createElement("tr");
		tdeth1.innerHTML = "MAC 2:  "+eth1_mac;
		treth1.appendChild(tdeth1);
		demoeth1.appendChild(treth1);
	}
function wlan0_mac()
	{
                var wlan0_mac="{{mac_wlan0_items[0]}}";
		var demowlan0 = document.getElementById("demowlan0");
		var tdwlan0 = document.createElement("td");
		var trwlan0 = document.createElement("tr");
		tdwlan0.innerHTML = "MAC 3:  "+wlan0_mac;
		trwlan0.appendChild(tdwlan0);
		demowlan0.appendChild(trwlan0);
	}
function bt_mac()
	{
                var bt_mac="{{mac_bt_items[0]}}";
		var demobt = document.getElementById("demobt");
		var tdbt = document.createElement("td");
		var trbt = document.createElement("tr");
		tdbt.innerHTML = "MAC 4:  "+bt_mac;
		trbt.appendChild(tdbt);
		demobt.appendChild(trbt);
        }
</script>
</body>

</html>
