<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <title>index</title>
       <link href="static/css/style.css" rel="stylesheet" type="text/css" />
       <script src="static/js/myScript.js"></script>
  </head>


<body>
  <br>
  <aside id="aside1">
    {% set count = 1 %}
    {% for row in test_items %}
    <h1> {{row}} {{state_items[count]}} <img style="float:right;" src="static/drawing/green.png" width="30" height="30" ></h1> 
    {% set count = count + 1 %}
    {% endfor %}
  </aside>
    
  <section id="section">
    <h2>ST7B2 </h2>
  </section>
</body>

</html>
